layout {

    focus-ring {
        active-color   "#6ba510"
        inactive-color "#eafad1"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6ba510"
        inactive-color "#eafad1"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#cfd9bf70"
    }

    tab-indicator {
        active-color   "#6ba510"
        inactive-color "#bee385"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6ba51080"
    }
}

recent-windows {
    highlight {
        active-color "#6ba510"
        urgent-color "#fd4663"
    }
}
