layout {

    focus-ring {
        active-color   "#da4d0b"
        inactive-color "#fcddcf"
        urgent-color   "#e9520c"
    }

    border {
        active-color   "#da4d0b"
        inactive-color "#fcddcf"
        urgent-color   "#e9520c"
    }

    shadow {
        color "#dac7be70"
    }

    tab-indicator {
        active-color   "#da4d0b"
        inactive-color "#f0bfa8"
        urgent-color   "#e9520c"
    }

    insert-hint {
        color "#da4d0b80"
    }
}

recent-windows {
    highlight {
        active-color "#da4d0b"
        urgent-color "#e9520c"
    }
}
